# GCP Configuration
GCP_PROJECT_ID=cedar-defender-470311-r9
GCP_REGION=us-central1
GCS_BUCKET_NAME=vidhivedbucket
GOOGLE_APPLICATION_CREDENTIALS=./vidhived-key.json

# Flask Configuration
FLASK_ENV=development
PORT=5000
LOG_LEVEL=INFO
CORS_ORIGINS=http://localhost:3000

# Optional - Test GCS on startup
CHECK_GCS_ON_START=true